.main-container{
    display:flex;
    flex-direction: row;
}

.left-section * {
    margin: 0px 20px 10px 0;
}

.left-section form{
    border-bottom: 2px solid;
    border-color: black;
}

.forcast-container{
    display:flex;
    flex-direction: row;
}

.todays-weather-container{
    border: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    margin: top 10px;
}

.todays-weather-container h2 {
    margin-top: 10px;
}

.card{
    margin-right: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 0 20px 0 5px;
    background-color:rgb(34, 51, 84);
    
}

.card p{
    color:white;
}

.history-button{
    background-color:rgb(34, 51, 84);
}

.history-button p{
    color:white;
}